h1 Create a new user
//h3= user.name
form(action="", method="POST")
    label Name
    input(type="text" name="name")
    hr
    label Phone
    input(type="text" name="phone")
    hr
    label Email
    input(type="text" name="email")
    hr
    label Password
    input(type="password" name="password")
    hr
    //label Avatar
    //input(type="file" name="avatar")
    //hr
    button Create