h1 New transfer
form(action="", method="POST")
    input(type="hidden" name="_csrf",value=csrfToken)
    label Account
    input(type="text" name="account")
    hr
    label Amount
    input(type="number" name="amount")
    hr
    button Transfer