h1 View user

p
    //b Avatar
    //div= user.avatar
    //img(src='uploads/'+user.avatar,width="60")
    b Name
    div= user.name
    b Phone
    div= user.phone
    b Email
    div= user.email

a(href='/users') View all users